.editor-container {
    overflow: auto;
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    background: white;
    border: 1px solid rgb(var(--text-disabled));
    cursor: text;
    margin: 20px;
}

.vertical-ruler {
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
}

@media screen and (max-width: 900px) {
    .editor-container {
        align-items: flex-start;
    }
}
