nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(var(--background));
}

.profile-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}

.profile-icon-image {
    background-color: #000000;
    background-size: contain;
}

.share-icon {
    background-color: rgb(var(--primary));
}

.share-icon .icon {
    font-size: 20px;
}

.share-icon:hover {
    background-color: rgb(var(--primary-dark));
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
