.material-symbols-outlined {
    display: block;
}

.brand {
    width: 36px;
    height: 36px;
}

.icon-button {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

.expand-icon-button {
    display: flex;
    border-radius: 33px;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-button .icon {
    font-size: 24px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
