html {
    background-color: #f9fbfd;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    background-color: transparent;
    border: none;
}
